.title{
    color: aqua;
}
#shapeElement {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}
.outer{
    border: 0.3 rem solid black;
    height: 15 rem;
    width: 15 rem;
}
.inner{
    border: 0.3 rem solid black;
    height: 10 rem;
    width: 10 rem;
}
.innermost{
    border: 0.3 rem solid black;
    height: 5 rem;
    width: 5 rem;
}